<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuário</title>
</head>
<body>
    <form>
        <input type="text" placeholder="Nome Completo">
        <input type="email" placeholder="Digite o E-mail">
        <input type="tell" placeholder="Digite o Telefone">
        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" id="termosUso" required>
                            <label class="form-check-label text-secondary" for="termosUso">
                                Aceito os <a href="#" class="text-decoration-none text-dark fw-bold">Termos de
                                    Uso</a> e <a href="#" class="text-decoration-none text-dark fw-bold">Política de
                                    Privacidade</a>.
                            </label>
                        </div>
                        <div class="form-check mb-4">
                            <input class="form-check-input" type="checkbox" id="notificacoes">
                            <label class="form-check-label text-secondary" for="notificacoes">
                                Autorizo o envio de e-mails com novidades, promoções e conteúdos exclusivos
                                sobre templates e marketing para barbearias.
                            </label>
                        </div>
    </form>
    
</body>
</html>